{%block header%}
	<div id="main_box">asadas</div>
	<p style ="direction:ltr;color:#046CB8; margin-left:60px; margin-bottom:-30px; margin-top:5px; font-size:38px; text-decoration:blink;">My Blog</p>
	<div id="header">
		<ul style="text-decoration:normal;"\>
			<li style="border-style:inset; width:50px; border-radius:10px; text-align:center; border-color:#046CB8; border-style:inset; background:#ffffff;"><a href="#" style="text-decoration:none;">Home</a></li>
			<li style="margin-top:5px; border-style:inset; width:90px; border-radius:10px; text-align:center; border-color:#046CB8; border-style:inset; background:#ffffff;"><a href="#" style="text-decoration:none;">About Me</a></li>
		</ul>
	</div>
	
{%endblock%}
