{%extends 'index.html'%}
{%block title%}About Me{%endblock%}
{% block content %}
	<div id="test">
		<p>
			این سایت پروژه اینجانب انوش شاهرخی به شماره دانشجویی ۸۹۴۵۰۰۲۸۰۳۹ میباشد، در عین سادگی سعی شده کارآمد باشد و قابلیت های یک سرویس دهنده وبلاگ را ارائه کند. این سایت با زبان پایتون و چهارچوب وب جنگو نوشته شده است.
در این سایت از سیستم احراز حویت، نشست ها، پنل مدیریت، گروه بندی کابران و حق دسترسی آنها استفاده شده است. سناریوی سیستم بدین گونه است که پس از ثبت نام در سیستم و احراز حویت شدن، در زیر دامنه ای به نام کاربر، صفحه ای برای نوشتن مطالب و یک پنل مدیریت به او داده میشود تا قادر به  مدیریت مطالب یا پست های خود باشد. همچنین کاربران دیگر قادرند پس از خواندن پست ها نظر بدهند... شایان به ذکر است که بسیاری از این امکانات را مدیون کتابخانه کانتریب جنگو هستیم.
در نهایت جا دارد که از زحمات دوست بسیار عزیز و خوبم سمیر رحمانی کمال تشکر را داشته باشم که بدون کمک های شایان او قادر به انجام این کار نبودم.  
		</p>
		</p>
	</div>
{% endblock %}

{% block auth%}
	    <ul id="footer">
		<p>&copy;Copyright 2013 Shervin Ara </p>
		</ul>
{% endblock%}
