{%extends 'base.html'%}
{% block title %}Registration{% endblock %}

{% block main %}
{% block top-menu%}
        
    <ul class="nav nav-tabs">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/register/">Register</a></li>
      <li><a href="/contact/">Contact</a></li>
      <li><a href="/about/">About</a></li>
    </ul>
     
{% endblock%}   

{% block content%}
{% endblock%}

{% block auth %}
    <div id="auth">
        {% if errors %}
            <ul id="error">
                
                <li>{{errors}}</li>
                
            </ul>
        <hr>
        {% endif %}
        <form action="" method="POST"> {% csrf_token %}
            {{ form.as_ul }}      
        </form>
            
    </div>
{% endblock %}
{% endblock %}
