{%extends 'base.html'%}
{%block title%}My Blog{%endblock%}

{%block main%}
	<div id="top_header"> 
		<ul>
			<img src="/statics/pictures/shervin.jpg" height="80" width="60" id="avatar">
			<span><sup><sup>My Blog</sup></sup></span> 
			<li><a href="/">Home</a></li>
			<li><a href="about">About Me</a></li>
			</ul>
		
	</div>
	<div id="main">	
{%block header%}
{%endblock%}

{%block content%}

		<div id="top_content">
			<span>خوش آمدید، <span>{{now}}</span></span>
			<div id="content">
			{% for i in post %}
				<p id="context_subject">{{i.Subject}}:</p>
				<p id="context_post">{{i.Post}}</p>
				<p id="context_name">{{i.Name}}</p><br/>
			{% endfor %}	
			</div>			
		</div>
		<br/>
	</div>

{%endblock%}

{%block footer%}
	<div id="footer">
		<span><sub>Footer</sub></span>
	</div>
{%endblock%}
{%endblock%}

