{%extends 'base.html'%}
{% block title %}My Blog{% endblock %}

{% block main %}
{% block top-menu%}
        
    <ul class="nav nav-tabs">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/about/">About</a></li>
      <li><a href="/contact/">Contact</a></li>
    </ul>
     

{% endblock%}   

{% block content%}
{% endblock%}

{% block auth %}
    <div id="auth">
        {% if errors %}
            <ul id="error">
                
                <li>{{errors}}</li>
                
            </ul>
        <hr>
        {% endif %}
        <form action="/authentication/" method="POST"> {% csrf_token %}
            <input type="text" value="" name="username" id="textbox"><br>
            <input type="password" name="password" id="textbox"><br>
            <input type="submit" value="Login" name="login" class="btn-en">
            <input type="submit" value="Register" name="register" class="btn-en" action="registration/">           
        </form>
            
    </div>
{% endblock %}
{% endblock %}
