body{padding:0px; margin:0px; background:#ffffff; color:#666; font:14px/18px Georgia, "Times New Roman", Times, serif;}
#header{width:514px; height:277px; float:left; background:#4D4D4D}
#footer{height:168px; background:#4C4C4C; color:#fff; clear:both;}
